[Unit]
Description=Debug Usage (Load Average)

[Service]
Type=simple
ExecStart=%h/.local/bin/debug-usage load 5
StandardOutput=journal+console

[Install]
WantedBy=default.target
